.cereal{

    position: absolute;
    width:20%;
    bottom: 20%;
    height:65%;
    margin-left: 15%;
    z-index: 11;

}

.animationCereal-enter {

    transform:   translate(0,800px);
}

.animationCereal-enter.animationCereal-enter-active {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;
    z-index:3

}

.animationCereal-leave {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;

}

.animationCereal-leave.animationCereal-leave-active {

    transform:   translate(0,-800px);
    z-index:3
}
