
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.background{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #df7c7d 50%, #efccd8 50%);
}

.title{
    position: absolute;
    display: inline-block;
    margin-top: -40px;
    margin-left: 46%;
    font-size: 35px;
    color: white;
    z-index: 4;
}

.bag{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}




