.CEYLONLeft{

    background-color: #61dafb;
}

.LAPSANGLeft{

    background-color: #673753;
}
.WUYILeft{

    background-color: #373668;
}

.backgroundBottomLeft{
    position: absolute;
    width:25%;
    bottom: 0;
    height:35%;

}

.animationDivBottomLeft-enter {

    transform:   translate(-300px,0);

}

.animationDivBottomLeft-enter.animationDivBottomLeft-enter-active {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;
    z-index:2

}

.animationDivBottomLeft-leave {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;

}

.animationDivBottomLeft-leave.animationDivBottomLeft-leave-active {

    transform:   translate(0,0);
}
