.CEYLONRight{

    background-color: #c5998a;
}

.LAPSANGRight{

    background-color: #25223d;
}
.WUYIRight{

    background-color: #549895;
}

.backgroundBottomRight{
    position: absolute;
    width:25%;
    bottom: 0;
    height:35vh;
    margin-left: 25%;


}

.animationDivBottomRight-enter {

    transform:   translate(0,200px);
}

.animationDivBottomRight-enter.animationDivBottomRight-enter-active {


    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;
    z-index:2

}

.animationDivBottomRight-leave {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;

}

.animationDivBottomRight-leave.animationDivBottomRight-leave-active {

    transform:   translate(0,0);

}
