.CEYLONTop{

    background-color: #425d6a;
}

.LAPSANGTop{

    background-color: #d8a8a9;
}
.WUYITop{

    background-color: #df7c7d;
}

.navBar{

    width:50%;
}

.backgroundTop{

    position: absolute;
    width:50%;
    height:65vh;

}

.boxNavBar{

    position: relative;
    margin-top: 20px;
    border: solid 1px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    width:20%;
    display: inline-block;
    cursor: pointer;
    color: white;
    z-index: 4;

}

.categories{

    margin-left: 20px;
}

.search{

    height: 20px;
    background: transparent;
    border: none;
    padding-top: 0;
    color:white;

}

.search::placeholder { /* Firefox, Chrome, Opera */
    color: white;
    font-size: 12px;
}

.search:focus{

    background: transparent;
    border: none;
    color:white;

}

.animationDivTop-enter {

    transform:   translate(0,-600px);

}

.animationDivTop-enter.animationDivTop-enter-active {

    transform:   translate(0,-50px);
    transition-property: transform;
    transition-duration: 1s;
    z-index:2

}

.animationDivTop-leave {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;

}

.animationDivTop-leave.animationDivTop-leave-active {

    transform:   translate(0,0);
}
