.footerRight{
    position: absolute;
    width:50%;
    bottom: 0;
    height:20vh;
    margin-left: 50%;
    border-top: solid 1px;
    border-top-color: gray;
    background-color:#efccd8;
    padding-top: 70px;
}

.numberProducts{

    border:1px solid;
    text-align: center;
    height: 40px;
    padding-top: 8px;
}

.price{
    font-size: 20px;
}


/*Animation Price*/

.animationPrice-enter {

    opacity: 0;
    transform:   translate(0,50px);



}

.animationPrice-enter.animationPrice-enter-active {

    opacity: 0.5;
    transform:   translate(0,0px);
    transition-property: transform,opacity;
    transition-duration: 1s;
    z-index:3

}

.animationPrice-leave {

    opacity: 0.5;
    transform:   translate(0,0px);
    transition-property: transform,opacity;
    transition-duration: 1s;


}

.animationPrice-leave.animationPrice-leave-active {

    opacity: 0;
    transform:   translate(0,-50px);
    z-index:3
}
