.productDescriptionSide{
    position: absolute;
    width:50%;
    height:100vh;
    margin-left: 50%;
    padding-top: 40px;
}

.productText{
    position: relative;
    top:20%;
    width:100%;
    height: 60%;
}

.box{
    border: solid 1px;
    text-align: center;
    color:darkblue;
    overflow: hidden;
}

.boxType{
    height: 30px;
    border-bottom: none;
}

.boxName{
    height: 120px;
    font-size: 40px;
    border-bottom: none;
}

.boxDescription{
    font-size: 12px;
    padding-top: 5px;
    height: 200px;
}

.boxTaste{
    height: 120px;
    font-size: 12px;
    border-left: none;
}

.boxAroma{
    border-left: none;
}

.boxMouthfeel{
    border-left: none;
    overflow: hidden;
    font-size: 12px;
}

.boxHeight{
    border-left: none;
    border-top: none;
    height: 30px;
}


.titleBox{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    animation: movingBottomToTop 0.5s linear ;
    position: relative;

}

.subtitleBox{
    font-size: 12px;
    animation: movingBottomToTop 0.5s linear ;
    position: relative;

}

/*Animation css Taste and Aroma Box*/

@keyframes movingBottomToTop {
    0% {
        top: 0;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -250px;
    }
}


/*Animation Name Cereal*/

.animationNameCereal-enter {

    transform:   translate(0,140px);



}

.animationNameCereal-enter.animationNameCereal-enter-active {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;
    z-index:3

}

.animationNameCereal-leave {

    transform:   translate(0,-120px);
    transition-property: transform;
    transition-duration: 1s;


}

.animationNameCereal-leave.animationNameCereal-leave-active {

    transform:   translate(0,-250px);
    z-index:3
}


/*Animation Type Cereal*/

.animationTypeCereal-enter {

    transform:   translate(0,40px);



}

.animationTypeCereal-enter.animationTypeCereal-enter-active {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;
    z-index:3

}

.animationTypeCereal-leave {

    transform:   translate(0,-20px);
    transition-property: transform;
    transition-duration: 1s;


}

.animationTypeCereal-leave.animationTypeCereal-leave-active {

    transform:   translate(0,-50px);
    z-index:3
}


/*Animation Description Cereal*/

.animationDescriptionCereal-enter {

    transform:   translate(0,150px);



}

.animationDescriptionCereal-enter.animationDescriptionCereal-enter-active {

    transform:   translate(0,0);
    transition-property: transform;
    transition-duration: 1s;
    z-index:3

}

.animationDescriptionCereal-leave {

    transform:   translate(0,-150px);
    transition-property: transform;
    transition-duration: 1s;


}

.animationDescriptionCereal-leave.animationDescriptionCereal-leave-active {

    transform:   translate(0,-450px);
    z-index:3
}

/*Animation Mouthfeel Cereal*/

.animationMouthfeelCereal-enter {

    transform:   translate(0,140px);



}

.animationMouthfeelCereal-enter.animationMouthfeelCereal-enter-active {

    transform:   translate(0,0px);
    transition-property: transform;
    transition-duration: 1s;
    z-index:3

}

.animationMouthfeelCereal-leave {

    transform:   translate(0,0px);
    transition-property: transform;
    transition-duration: 1s;


}

.animationMouthfeelCereal-leave.animationMouthfeelCereal-leave-active {

    transform:   translate(0,-100px);
    z-index:3
}


